.how {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  box-shadow: 1px 1px 8px rgb(219, 219, 219);
  margin: 15px;
  padding: 15px;
}

.card p {
  color: grey;
}

.card img {
  width: 50%;
}

.card-background {
  background-size: cover;
  background-position: center;
  height: 150px;
}
